/vendor/
/node_modules/
/.idea/
/.vscode/
/.phpunit.cache/
/coverage/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
*.log
.DS_Store
Thumbs.db